<p id="notice"><%= notice %></p>

<h2>Notes <%= octicon "book", :height => 24 %></h2>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.note %></td>
        <td><a href=<%="/notes/#{note.id}"%>><%= octicon "eye", :height => 16 %></a></td>
        <td><a rel="nofollow" data-method="delete" href=<%="/notes/#{note.id}"%>><%= octicon "x-circle-fill", :height => 16 %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
